@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    text-align: center;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #b8b9b9;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

form {
  margin-left: 50px;
  color: white;
  margin-top: 100px
}
#showResultsForm {
  float: right;
  margin-right: 20%;
  margin-left: 20%;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  margin-top: -600px;
  padding-top: 20px;
  background: rgb(146, 145, 145);
  border-radius: 20px;
  border-color: black;
  border-style: solid;
  right: 200px;
  top: 100px
}
#getResults {
  margin-left: 335px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px
  
}
#clearResults {
  margin-left: 335px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px
}
#myButtons {
  list-style: none;
}
#myButtons li {
  display: inline;
}